.faculty-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

/* .faculty-card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 250px;
} */

.faculty-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 24px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.2s;
}

.faculty-row {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

.faculty-image {
  width: 30%;
  height: 200px;
  /* border: 3px solid #004a7c; */
}

.faculty-info {
  padding: 1rem;
}

.faculty-name {
  color: #004a7c;
}

.faculty-title {
  color: #666;
}

.faculty-description {
  color: #444;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  font-size: 1.5rem;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.dropdown-toggle .arrow {
  display: inline-block;
  transition: transform 0.3s;
}

.dropdown-toggle[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}

/* .dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
} */

.dropdown-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s;
  padding: 0 16px;
  background: #f9f9f9;
}

.dropdown-content.active {
  display: block;
  height: 500px;
  max-height: 500px; /* Adjust as needed */
  padding: 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-content h4 {
  margin-top: 1rem;
}

.additional-details {
  list-style-type: none;
}

.additional-details li {
  margin-bottom: 0.5rem;
}

.contact-info {
  background: #f8f9fa;
  padding: 1rem;
  border-top: 1px solid #eee;
}

/* .contact-info a:hover {
  background-color: #fff;
  border: 1px solid #004a7c;
  color: #004a7c;
} */

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.contact-item i {
  color: #004a7c;
  margin-right: 0.8rem;
  width: 20px;
}

.homepage-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #004a7c;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 1rem;
  transition: background 0.3s ease;
}

.homepage-link:hover {
  background-color: #fff;
  border: 1px solid #004a7c;
  color: #004a7c;
}
